body{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    /* margin: 200px 0px 0px 200px; */
    align-self: center;
    padding-bottom: 50px;
}
.intro{
    background-color: beig;
    display: flex;
    
}
.introtext h1{
    color: #6F6F6F;
    font-size: 32px;
    padding: 0px 0px 0px 0px;
    width: 750px;
    margin: 100px 0px 20px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition-duration: 3s;
    transition-timing-function: linear;
    transition-delay: 0s;
}  

.introtext h1:hover, .introtext h1:active{
    background: #d1d1d1;
    border-radius: 10px;
  }
.introtext l{
    font-size: 32px;
    font-weight: 700;
    color: black;
    padding: 0px 0px 0px 0px;
    width: 600px;
    margin: 100px 0px 0px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.introtext p{
    /* font-size: 32px;
    font-weight: 700; */
    /* color: black; */
    padding: 0px 0px 30px 0px;
    width: 700px;
    margin: 00px 0px 0px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.profilepicture img{
    width: 440px;
    height: ;
    padding: 0px 0px 0px 120px;
    margin-top: 0px;
    
}
.profilepicture1{
    display: flex;
}
.contact_icons{
    display: flex;
    padding: 0px 0px 0px 0px;
    width: 90px;
}

.icon{
    /* background-color: #D9D9D9; */
    width: 52px;
    height: 52px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 40px;
    box-shadow:0px 4px 6px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  .icon:hover, .icon:active{
    background: #d1d1d1;
    border-radius: 10px;
    transition: 0.5s;
  }

  @media screen and (max-width:1237px){
.introtext h1{
    width: 500px;
}
.introtext p{
    width: 450px;
}
.profilepicture img{
    width: 400px
}
  }
  @media screen and (max-width:1201px){
    .introtext h1{
        width: 450px;
    }
    .introtext p{
        width: 450px;
    }
    .profilepicture img{
        width: 450px;
    }
      }
      @media screen and (max-width:991px){
        .introtext h1{
            width: 400px;
            margin: 10px 0px 0px -90px;
        }
        .introtext p{
            width: 400px;
            margin: 10px 0px 0px -90px;
            
        }
        .profilepicture img{
            width: 400px;
        }
          }
@media screen and (max-width:925px){
            .introtext h1{
                width: 400px;
                margin: 10px 0px 0px -90px;
            }
            .introtext p{
                width: 400px;
                margin: 10px 0px 0px -90px;
                
            }
            .contact_icons{
                margin-left: -50px;
                margin-right: 90px;
            }
            .profilepicture img{
                width: 400px;
            }
              }
              @media screen and (max-width:900px){
                .introtext h1{
                    width: 400px;
                    margin: 10px 0px 0px 0px;
                }
                .introtext p{
                    width: 400px;
                    margin: 10px 0px 0px 0px;
                    
                }
                .contact_icons{
                    margin-left: 0px;
                    margin-right: 0px;
                }
                .profilepicture img{
                    width: 300px;
                }
                  }

                  @media screen and (max-width:768px){
                    .introtext h1{
                        width: 380px;
                        margin: 10px 0px 0px -60px;
                        font-size: 20px;
                    }
                    .introtext p{
                        width: 380px;
                        margin: 10px 0px 0px -60px;
                        
                    }
                    .icon{
                        margin-left: 20px;
                        margin-right: 20px;
                    }
                    .profilepicture img{
                        width: 300px;
                    }
                    .contact_icons{
                        margin-left: -90px;
                        margin-right: 90px;
                    }
                      }
                      @media screen and (max-width:700px){
                        .introtext h1{
                            width: 100%;
                            padding-top: 30px;
                            margin: auto;
                            font-size: 20px;
                        }
                        .intro{
                            flex-direction: column;
                        }
                        .introtext p{
                            width: 100%;
                            margin: auto;
                            
                        }
                        .icon{
                           margin: auto;
                           
                        }
                        .profilepicture img{
                            width: 400px;
                            margin: auto;
                            margin-top: 20px;
                        }
                        .contact_icons{
                          margin: 20px 40px 20px 0px;
                          
                        }
                          }

                          @media screen and (max-width:393px){
                            .introtext h1{
                                width: 100%;
                                padding-top: 30px;
                                margin: auto;
                                font-size: 20px;
                            }
                            .intro{
                                flex-direction: column;
                            }
                            .introtext p{
                                width: 100%;
                                margin: auto;
                                
                            }
                            .icon{
                               margin: auto;
                               
                            }
                            .profilepicture img{
                                width: 350px;
                                margin: auto;
                                margin-top: 20px;
                            }
                            .contact_icons{
                              margin: 20px 40px 20px 0px;
                              
                            }
                              }
    

  /* the container design............................................................................ 1 */
.product-container1 {
    display: ;
    margin: auto;
    background-color: #171616;
    width: 95%;
    border: 10px red;
    border-radius: 67px;
    padding: 20px 0px 40px 0px;
    box-shadow:0px 4px 6px rgba(0, 0, 0, 0.25);
}
.product-container1:hover, .product-container1:active{
    /* background: #d1d1d1; */
    border-radius: 30px;
    width: 98%;
    transition: 0.5s;
  }

.product-text-content{
    padding: 10px 0px 0px 90px;
    width: 50%;
    display: flex

}
.product-logo{
    padding: 0px 0px 0px 90px;
}
.product-banner{
    width: 60px;
}
.product-banner img{
    display: flex;
    width: 650px;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 10px 0px;
    
}
.product-timeline {
    width: 600px;
}
.product-timeline h1{
    color:#9AF98A;
    font-size: 20px;
    font-weight: 60px;
}
.product-timeline p{
    color: rgb(255, 255, 255);
    font-size: 20;
    font-weight: 20px;
}
.project-summary h1{
    color:#9AF98A;
    font-size: 20px;
    
}
.project-summary p{
    color: rgb(255, 255, 255);
    font-size: 20;
    font-weight: 20px;
}
.view-project a{
    color:#9AF98A;
    font-size: 20px;
    font-weight: 60px;
    border: 1px solid ;
    border-radius: 5px;
    width:max-content;
    cursor: pointer;
    text-decoration: none;
}
@media screen and (max-width:1255px){
    .product-banner img{
        width: 600px;
    }
    }
    @media screen and (max-width:1150px){
        .product-banner img{
            width: 400px;
        }
        }
        @media screen and (max-width:931px){
            .product-text-content{
                display: block;
                flex-direction: column;
            }
            .project-summary p{
                width: 100%;
            }
            }
            @media screen and (max-width:703px){
                .product-text-content{
                    width: 400px;
                    padding: 10px 0px 0px 20px;
                }
                .project-summary p{
                     width: 400px;

                }
                
                .product-timeline {
                    width: 400px;
                }
                .product-timeline h1{
                    width: 400px;
                 
                }
                .product-timeline p{
                    width: 400px;;
                  
                }
                .project-summary h1{
                    width: 400px;
                    
                }
                .project-summary p{
                    width: 400px;
                
                }
                .view-project a{
                    width: 400px;
                }
            }

                @media screen and (max-width:519px){
                    .product-text-content{
                        display: block;
                        padding: 10px 0px 0px 20px;
                    }
                    .product-logo{
                        padding: 10px 0px 0px 20px;
                    }
                    .product-banner img{
                        width: 270px;
                    }
                    .project-summary p{
                        width: 100%;
                    }
                    }

                    @media screen and (max-width:430px){
                        .product-banner img{
                            width: 270px;
                        }
                       
                        .product-text-content{
                            width: 320px;
                        }
                        .product-timeline{
                            width: 350px;
                        }
                        .product-timeline h1{
                            width: 200px;
                        }
                        .product-timeline p{
                            width: 200px;
                        }

                        .project-summary h1{
                            width: 200px;
                        }
                        .project-summary p{
                            width: 100%;
                        }
                        }
                    @media screen and (max-width:428px){
                        .product-banner img{
                            width: 270px;
                        }
                       
                        .product-text-content{
                            width: 320px;
                        }
                        .product-timeline{
                            width: 350px;
                        }
                        .product-timeline h1{
                            width: 200px;
                        }
                        .product-timeline p{
                            width: 200px;
                        }

                        .project-summary h1{
                            width: 200px;
                        }
                        .project-summary p{
                            width: 100%;
                        }
                        }
                    @media screen and (max-width:414px){
                        .product-banner img{
                            width: 270px;
                        }
                       
                        .product-text-content{
                            width: 320px;
                        }
                        .product-timeline{
                            width: 350px;
                        }
                        .product-timeline h1{
                            width: 200px;
                        }
                        .product-timeline p{
                            width: 200px;
                        }

                        .project-summary h1{
                            width: 200px;
                        }
                        .project-summary p{
                            width: 100%;
                        }
                        }



                    @media screen and (max-width:412px){
                        .product-banner img{
                            width: 270px;
                        }
                       
                        .product-text-content{
                            width: 320px;
                        }
                        .product-timeline{
                            width: 350px;
                        }
                        .product-timeline h1{
                            width: 200px;
                        }
                        .product-timeline p{
                            width: 200px;
                        }

                        .project-summary h1{
                            width: 200px;
                        }
                        .project-summary p{
                            width: 100%;
                        }
                        }



                    @media screen and (max-width:403px){
                        .product-banner img{
                            width: 270px;
                        }
                        .project-summary p{
                            width: 100%;
                        }
                        }
                        @media screen and (max-width:393px){
                            .product-banner img{
                                width: 270px;
                            }
                           
                            .product-text-content{
                                width: 320px;
                            }
                            .product-timeline{
                                width: 320px;
                            }
                            .product-timeline h1,p{
                                width: 200px
                            }
                            .product-timeline p{
                                width: 200px
                            }
                            .project-summary p{
                                width: 100%;
                            }
                            } 





 /* the container design............................new 2................................................ 1 */

 .product-container6 {
    display: ;
    margin: auto;
    background-color: #674fedb6;

    width: 95%;
    border: 10px red;
    border-radius: 67px;
    padding: 20px 0px 40px 0px;
    box-shadow:0px 4px 6px rgba(0, 0, 0, 0.25);
}
.product-container6:hover, .product-container6:active{
    /* background: #d1d1d1; */
    border-radius: 30px;
    width: 98%;
    transition: 0.5s;
  }

.product-text-content6{
    padding: 10px 0px 0px 90px;
    width: 550px;
    display: flex

}
.product-logo6{
    padding: 0px 0px 0px 30px;
}
.product-banner6{
    width: 60px;
}

.product-banner6 img{
    display: flex;
    width: 650px;
    padding: 0px 0px 0px 10px;
    margin: auto;
}
.product-timeline6 {
    width: 600px;
}
.product-timeline6 h1{
    color:#042C95;
    font-size: 20px;
    font-weight: 60px;
}
.product-timeline6 p{
    color: rgb(0, 0, 0);
    font-size: 20;
    font-weight: 20px;
}
.project-summary6 h1{
    color:#042C95;
    font-size: 20px;
    font-weight: 60px;
}
.project-summary6 p{
    color: rgb(0, 0, 0);
    font-size: 20;
    font-weight: 20px;
}
.view-project6 a{
    color:#042C95;
    font-size: 20px;
    font-weight: 60px;
    border: 1px solid ;
    border-radius: 5px;
    width:max-content;
    cursor: pointer;
    text-decoration: none
}
    
@media screen and (max-width:1255px){
    .product-banner6 img{
        width: 600px;
    }
    }
    @media screen and (max-width:1150px){
        .product-banner6 img{
            width: 400px;
        }
        }
        @media screen and (max-width:931px){
            .product-text-content6{
                display: flex;
                flex-direction: column;
            }
            .project-summary6 p{
                width: 100%;
            }
            }
            @media screen and (max-width:703px){
                .product-text-content6{
                    width: 400px;
                }
                .project-summary6 p{
                    width: 400px;
                }
                }
                .product-timeline6 {
                    width: 400px;
                }
                @media screen and (max-width:519px){
                    .product-text-content6{
                        display: flex;
                        flex-direction: column;
                        padding: 10px 0px 0px 20px;
                    }
                    .product-logo6{
                        padding: 10px 0px 0px 0px;
                    }
                    .product-banner6 img{
                        width: 270px;
                    }
                    .project-summary6 p{
                        width: 100%;
                    }
                    }

                    @media screen and (max-width:430px){
                        .product-banner6 img{
                            width: 270px;
                        }
                       
                        .product-text-content6{
                            width: 320px;
                        }
                        .product-timeline6{
                            width: 350px;
                        }
                        }
                    @media screen and (max-width:428px){
                        .product-banner6 img{
                            width: 270px;
                        }
                       
                        .product-text-content6{
                            width: 320px;
                        }
                        .product-timeline6{
                            width: 350px;
                        }
                        }

                    @media screen and (max-width:414px){
                        .product-banner6 img{
                            width: 270px;
                        }
                       
                        .product-text-content6{
                            width: 320px;
                        }
                        .product-timeline6{
                            width: 350px;
                        }
                        }
                    @media screen and (max-width:412px){
                        .product-banner6 img{
                            width: 270px;
                        }
                       
                        .product-text-content6{
                            width: 320px;
                        }
                        .product-timeline6{
                            width: 350px;
                        }
                        }


                    @media screen and (max-width:403px){
                        .product-banner6 img{
                            width: 270px;
                        }
                        .project-summary6 p{
                            width: 100%;
                        }
                        }

                        @media screen and (max-width:393px){
                            .product-banner6 img{
                                width: 270px;
                            }
                           
                            .product-text-content6{
                                width: 320px;
                            }
                            .product-timeline6{
                                width: 350px;
                            }
                            } 




 /* the container design....................................................... 3 */
 .product-container3 {
    display: ;
    margin: auto;
    background-color: #ffffffa2;
    width: 95%;
    border: 10px red;
    border-radius: 67px;
    padding: 20px 0px 40px 0px;
    box-shadow:0px 4px 6px rgba(0, 0, 0, 0.25);
}
.product-container3:hover, .product-container3:active{
    /* background: #d1d1d1; */
    border-radius: 30px;
    width: 98%;
    transition: 0.5s;
  }

.product-text-content3{
    padding: 10px 0px 0px 90px;
    width: 550px;
    display: flex

}
.product-logo3{
    padding: 0px 0px 0px 30px;
}
.product-banner3{
    width: 60px;
}

.product-banner3 img{
    display: flex;
    width: 650px;
    padding: 0px 0px 0px 10px;
    margin: auto;
}
.product-timeline2 {
    width: 600px;
}
.product-timeline3 h1{
    color:#042C95;
    font-size: 20px;
    font-weight: 60px;
}
.product-timeline3 p{
    color: rgb(0, 0, 0);
    font-size: 20;
    font-weight: 20px;
}
.project-summary3 h1{
    color:#042C95;
    font-size: 20px;
    font-weight: 60px;
}
.project-summary3 p{
    color: rgb(0, 0, 0);
    font-size: 20;
    font-weight: 20px;
}
.view-project3 a{
    color:#042C95;
    font-size: 20px;
    font-weight: 60px;
    border: 1px solid ;
    border-radius: 5px;
    width:max-content;
    cursor: pointer;
    text-decoration: none
}
    
@media screen and (max-width:1255px){
    .product-banner3 img{
        width: 600px;
    }
    }
    @media screen and (max-width:1150px){
        .product-banner3 img{
            width: 400px;
        }
        }
        @media screen and (max-width:931px){
            .product-text-content3{
                display: flex;
                flex-direction: column;
            }
            .project-summary3 p{
                width: 100%;
            }
            }
            @media screen and (max-width:703px){
                .product-text-content3{
                    width: 400px;
                }
                .project-summary3 p{
                    width: 400px;
                }
                }
                .product-timeline3 {
                    width: 400px;
                }
                @media screen and (max-width:519px){
                    .product-text-content3{
                        display: flex;
                        flex-direction: column;
                        padding: 10px 0px 0px 20px;
                    }
                    .product-logo3{
                        padding: 10px 0px 0px 0px;
                    }
                    .product-banner3 img{
                        width: 270px;
                    }
                    .project-summary3 p{
                        width:100%;
                    }
                    }
                    @media screen and (max-width:430px){
                        .product-banner3 img{
                            width: 270px;
                        }
                       
                        .product-text-content3{
                            width: 320px;
                        }
                        .product-timeline3{
                            width: 350px;
                        }
                        .product-summary3 p{
                            width: 400px;
                        }
                        }

                    @media screen and (max-width:428px){
                        .product-banner3 img{
                            width: 270px;
                        }
                       
                        .product-text-content3{
                            width: 320px;
                        }
                        .product-timeline3{
                            width: 350px;
                        }
                        .product-summary3 p{
                            width: 400px;
                        }
                        }
                    @media screen and (max-width:428px){
                        .product-banner3 img{
                            width: 270px;
                        }
                       
                        .product-text-content3{
                            width: 320px;
                        }
                        .product-timeline3{
                            width: 350px;
                        }
                        .product-summary3 p{
                            width: 400px;
                        }
                        }
                    @media screen and (max-width:414px){
                        .product-banner3 img{
                            width: 270px;
                        }
                       
                        .product-text-content3{
                            width: 320px;
                        }
                        .product-timeline3{
                            width: 350px;
                        }
                        .product-summary3 p{
                            width: 400px;
                        }
                        }
 @media screen and (max-width:412px){
                            .product-banner3 img{
                                width: 270px;
                            }
                           
                            .product-text-content3{
                                width: 320px;
                            }
                            .product-timeline3{
                                width: 350px;
                            }
                            .product-summary3 p{
                                width: 400px;
                            }
                            }

                    @media screen and (max-width:403px){
                        .product-banner3 img{
                            width: 270px;
                        }
                        .project-summary3 p{
                            width: 100%;
                        }
                        }

                       

                        @media screen and (max-width:393px){
                            .product-banner3 img{
                                width: 270px;
                            }
                           
                            .product-text-content3{
                                width: 320px;
                            }
                            .product-timeline3{
                                width: 350px;
                            }
                            } 


 /* the container design....................................................... 4 */

 .product-container4 {
    display: ;
    margin: auto;
    background-color: #09455A;
    width: 95%;
    border: 10px red;
    border-radius: 67px;
    padding: 20px 0px 40px 0px;
    box-shadow:0px 4px 6px rgba(0, 0, 0, 0.25);
}
.product-container4:hover, .product-container4:active{
    /* background: #d1d1d1; */
    border-radius: 30px;
    width: 98%;
    transition: 0.5s;
  }

.product-text-content4{
    padding: 10px 0px 0px 90px;
    width: 550px;
    display: flex

}
.product-logo4{
    padding: 0px 0px 0px 30px;
}
.product-banner4{
    width: 60px;
}


.product-banner4 img{
    display: flex;
    width: 800px;
    padding: 0px 0px 0px 10px;
    margin: auto;
}
.product-timeline4 {
    width: 600px;
}
.product-timeline4 h1{
    color:#DE6161;
    font-size: 20px;
    font-weight: 60px;
}
.product-timeline4 p{
    color: #ffffff;
    font-size: 20;
    font-weight: 20px;
}
.project-summary4 h1{
    color:#DE6161;
    font-size: 20px;
    font-weight: 60px;
}
.project-summary4 p{
    color: #ffffff;
    font-size: 20;
    font-weight: 20px;
}
.view-project4 a{
    color:#DE6161;
    font-size: 20px;
    font-weight: 60px;
    border: 1px solid ;
    border-radius: 5px;
    width:max-content;
    cursor: pointer;
    text-decoration: none
}
@media screen and (max-width:1469px){
    .product-banner4 img{
        width: 700px;
    }
    }
@media screen and (max-width:1355px){
    .product-banner4 img{
        width: 600px;
    }
    }
@media screen and (max-width:1255px){
    .product-banner4 img{
        width: 600px;
    }
    }
    @media screen and (max-width:1150px){
        .product-banner4 img{
            width: 400px;
        }
        }
        @media screen and (max-width:931px){
            .product-text-content4{
                display: flex;
                flex-direction: column;
            }
            .project-summary4 p{
                width: 100%;
            }
            }
            @media screen and (max-width:703px){
                .product-text-content4{
                    width: 400px;
                }
                .project-summary4 p{
                    width: 400px;
                }
                }
                .product-timeline4 {
                    width: 400px;
                }
        
                @media screen and (max-width:519px){
                    .product-text-content4{
                        display: block;
                        padding: 10px 0px 0px 20px;
                    }
                    .product-logo4{
                        padding: 10px 0px 0px 20px;
                    }
                    .product-banner4 img{
                        width: 270px;
                    }
                    .project-summary4 p{
                        width: 100%;
                    }
                    }

                    @media screen and (max-width:430px){
                        .product-banner4 img{
                            width: 270px;
                        }
                       
                        .product-text-content4{
                            width: 320px;
                        }
                        .product-timeline4{
                            width: 350px;
                        }
                        }
                    @media screen and (max-width:428px){
                        .product-banner4 img{
                            width: 270px;
                        }
                       
                        .product-text-content4{
                            width: 320px;
                        }
                        .product-timeline4{
                            width: 350px;
                        }
                        }
                  
                        @media screen and (max-width:414px){
                            .product-banner4 img{
                                width: 270px;
                            }
                           
                            .product-text-content4{
                                width: 320px;
                            }
                            .product-timeline4{
                                width: 350px;
                            }
                            }

                        @media screen and (max-width:412px){
                            .product-banner4 img{
                                width: 270px;
                            }
                           
                            .product-text-content4{
                                width: 320px;
                            }
                            .product-timeline4{
                                width: 350px;
                            }
                            }
                            @media screen and (max-width:403px){
                                .product-banner4 img{
                                    width: 270px;
                                }
                                .project-summary4 p{
                                    width: 100%;
                                }
                                }

                        @media screen and (max-width:393px){
                            .product-banner4 img{
                                width: 270px;
                            }
                           
                            .product-text-content4{
                                width: 320px;
                            }
                            .product-timeline4{
                                width: 350px;
                            }
                            } 
   
 /* the container design....................................................... 5 */

 .product-container5 {
    display: ;
    margin: auto;
    background-color: #121F63;
    width: 95%;
    border: 10px red;
    border-radius: 67px;
    padding: 20px 0px 40px 0px;
    box-shadow:0px 4px 6px rgba(0, 0, 0, 0.25);
}
.product-container5:hover, .product-container5:active{
    /* background: #d1d1d1; */
    border-radius: 30px;
    width: 98%;
    transition: 0.5s;
  }

.product-text-content5{
    padding: 10px 0px 0px 90px;
    width: 550px;
    display: flex;
}

.product-logo5{
    padding: 0px 0px 0px 80px;
}
.product-banner5{
    width: 60px;
    display: flex;
}


.product-banner5 img{
    display: flex;
    width: 500px;
    padding: 0px 0px 0px 10px;
    margin: auto;
}
.product-timeline5 {
    width: 600px;
}
.product-timeline5 h1{
    color:#2FCEFC;
    font-size: 20px;
    font-weight: 60px;
}
.product-timeline5 p{
    color: #ffffff;
    font-size: 20;
    font-weight: 20px;
}
.project-summary5 h1{
    color:#2FCEFC;
    font-size: 20px;
    font-weight: 60px;
}
.project-summary5 p{
    color: #ffffff;
    font-size: 20;
    font-weight: 20px;
}
.view-project5 a{
    color:#2FCEFC;
    font-size: 20px;
    font-weight: 60px;
    border: 1px solid ;
    border-radius: 5px;
    width:max-content;
    cursor: pointer;
    text-decoration: none
}
 @media screen and (max-width:1255px){
    .product-banner5 img{
        width: 600px;
    }
    }
    @media screen and (max-width:1150px){
        .product-banner5 img{
            width: 400px;
        }
        }
        @media screen and (max-width:931px){
            .product-text-content5{
                display: flex;
                flex-direction: column;
            }
            .project-summary5 p{
                width: 100%;
            }
            }
            @media screen and (max-width:703px){
                .product-text-content5 {
                    display: flex;
                    flex-direction: column;
                }
                .project-summary5 p{
                    width: 400px;
                }
                }
                .product-timeline5 {
                    width: 400px;
                }
              


                @media screen and (max-width:519px){
                    .product-text-content5{
                        display: flex;
                        flex-direction: column;
                        padding: 10px 0px 0px 20px;
                    }
                    .product-logo5{
                        padding: 10px 0px 0px 20px;
                    }
                    .product-banner5 img{
                        width: 270px;
                    }
                    .project-summary5 p{
                        width: 100%;
                    }
                    }
                    @media screen and (max-width:430px){
                        .product-banner5 img{
                            width: 270px;
                        }
                       
                        .product-text-content5{
                            width: 320px;
                        }
                        .product-timeline5{
                            width: 350px;
                        }
                        } 

                    @media screen and (max-width:428px){
                        .product-banner5 img{
                            width: 270px;
                        }
                       
                        .product-text-content5{
                            width: 320px;
                        }
                        .product-timeline5{
                            width: 350px;
                        }
                        } 

                     @media screen and (max-width:412px){
                            .product-banner5 img{
                                width: 270px;
                            }
                           
                            .product-text-content5{
                                width: 320px;
                            }
                            .product-timeline5{
                                width: 350px;
                            }
                            } 

                            @media screen and (max-width:414px){
                                .product-banner5 img{
                                    width: 270px;
                                }
                               
                                .product-text-content5{
                                    width: 320px;
                                }
                                .product-timeline5{
                                    width: 350px;
                                }
                                } 
                    @media screen and (max-width:403px){
                        .product-banner5 img{
                            width: 270px;
                        }
                        .project-summary5 p{
                            width: 100%;
                        }
                        .product-text-content5{
                            width: 320px;
                        }
                        } 
                       



                        @media screen and (max-width:393px){
                            .product-banner5 img{
                                width: 270px;
                            }
                           
                            .product-text-content5{
                                width: 320px;
                            }
                            .product-timeline5{
                                width: 350px;
                            }
                            } 
    


/* conclusuion part  */ 
.likemywork{
    margin: 20px 0px 0px 50px;
    width: 50%;
}
.likemywork h1, h2{
    font-size: 40px;
    font-weight: 700;
}
.likemywork p{
    width: 80%;
}
.sendmessage{
    margin: 2em 4em;
    padding: 1em 2em;
    border: solid 1px #000000;
    border-radius: 60px;
    min-width: 200px;
    padding-top: 20px;
    width: 50%;
}

label{
    display: block;
}
input{
    border: solid 1px #ccc;
    border-radius: 6px; 
}
input[type="email"], [type="name"] {
 width: 13em;
}
input[type="text"] {
    min-height: 8em;
    min-width: 80%;
    
   }
button[type="submit"], [type="reset"]{
    margin-top: 20px;
    background-color: #000000;
    border: solid 1px #ccc;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 30%;
    
}

legend{
    font-size: 1.25em;
    padding: 0 .25em;
    color: #999;
}
.sendmessage li{
    width: 900px;
}
.conclusion{
    display: flex;
}
footer h4{
   text-align: center;
}

@media screen and (max-width:932px){
    .icon{
        /* background-color: #D9D9D9; */
        width: 35px;
        height: 35px;
      
      }
      .icon img{
        width: 35px;
      }
}


@media screen and (max-width:884px){
    .icon{
        /* background-color: #D9D9D9; */
        width: 35px;
        height: 35px;
      
      }
      .icon img{
        width: 35px;
      }
}
@media screen and (max-width:786px){
    .icon{
        /* background-color: #D9D9D9; */
        width: 35px;
        height: 35px;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
      
      }
      .icon img{
        width: 35px;
      }
}
@media screen and (max-width:669px){
    .conclusion{
        width:100%;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-self: center;
        justify-content: center;
    }

        
    }
    .likemywork{
        
        width: 50%;
        text-align: left;
    }
    .likemywork h1, h2{
        font-size: 40px;
        font-weight: 700;
    }
    .likemywork{
        margin: 10px 0px 0px 50px;
        width: 50%;
}


@media screen and (max-width:430px){
    .conclusion{
        width:390px;
        display: flex;
        flex-direction: column;
    }

    .likemywork {
        
        
        width: 80%;
        text-align: center;
        padding-bottom: 40px;
    }
    .likemywork h1, h2{
        width: 90%;
        font-size: 23px;
        font-weight: 700;
    }
    .likemywork p{
        margin: 0px 0px 0px 0px;
        width: 100%;
    }

    .sendmessage{
        margin: auto;
        /* padding: 1em 2em; */
        border: solid 1px #000000;
        border-radius: 60px;
        min-width: 200px;
        padding-top: 20px;
        width: 85%;
    }
    footer h4{
        font-size: 12px;
    }
}



@media screen and (max-width:428px){
    .conclusion{
        width:390px;
        display: flex;
        flex-direction: column;
    }

    .likemywork {
        
        
        width: 80%;
        text-align: center;
        padding-bottom: 40px;
    }
    .likemywork h1, h2{
        width: 90%;
        font-size: 23px;
        font-weight: 700;
    }
    .likemywork p{
        margin: 0px 0px 0px 0px;
        width: 100%;
    }

    .sendmessage{
        margin: auto;
        /* padding: 1em 2em; */
        border: solid 1px #000000;
        border-radius: 60px;
        min-width: 200px;
        padding-top: 20px;
        width: 85%;
    }
    footer h4{
        font-size: 12px;
    }
}


@media screen and (max-width:414px){
    .conclusion{
        width:390px;
        display: flex;
        flex-direction: column;
    }

    .likemywork {
        
        
        width: 80%;
        text-align: center;
        padding-bottom: 40px;
    }
    .likemywork h1, h2{
        width: 90%;
        font-size: 23px;
        font-weight: 700;
    }
    .likemywork p{
        margin: 0px 0px 0px 0px;
        width: 100%;
    }

    .sendmessage{
        margin: auto;
        /* padding: 1em 2em; */
        border: solid 1px #000000;
        border-radius: 60px;
        min-width: 200px;
        padding-top: 20px;
        width: 85%;
    }
    footer h4{
        font-size: 12px;
    }
}

@media screen and (max-width:412px){
    .conclusion{
        width:390px;
        display: flex;
        flex-direction: column;
    }

    .likemywork {
        
        
        width: 80%;
        text-align: center;
        padding-bottom: 40px;
    }
    .likemywork h1, h2{
        width: 90%;
        font-size: 23px;
        font-weight: 700;
    }
    .likemywork p{
        margin: 0px 0px 0px 0px;
        width: 100%;
    }

    .sendmessage{
        margin: auto;
        /* padding: 1em 2em; */
        border: solid 1px #000000;
        border-radius: 60px;
        min-width: 200px;
        padding-top: 20px;
        width: 85%;
    }
    footer h4{
        font-size: 12px;
    }
}
@media screen and (max-width:393px){
    .conclusion{
        width:390px;
        display: flex;
        flex-direction: column;
    }

    .likemywork {
        
        
        width: 80%;
        text-align: center;
        padding-bottom: 40px;
    }
    .likemywork h1, h2{
        width: 90%;
        font-size: 23px;
        font-weight: 700;
    }
    .likemywork p{
        margin: 0px 0px 0px 0px;
        width: 100%;
    }

    .sendmessage{
        margin: auto;
        /* padding: 1em 2em; */
        border: solid 1px #000000;
        border-radius: 60px;
        min-width: 200px;
        padding-top: 20px;
        width: 85%;
    }
    footer h4{
        font-size: 12px;
    }
}







